@model IEnumerable<web.Models.Cliente.cliente>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.clienteCategoria.descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.numeroCelular)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ativo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.clienteCategoria.descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.numeroCelular)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ativo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.clienteID }) |
            @Html.ActionLink("Details", "Details", new { id=item.clienteID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.clienteID })
        </td>
    </tr>
}

</table>
